/* public/styles/base.css */

:root{
    --background-dark: #03254c;
    --background: #1167b1;
    --background-light: #187bcd;
    --body: #d0efff;
    --body-font: 14px/1.5 Vidaloka, OdorMeanChey;
    --link: #2a9df4;
    --menu: #1167b1;
    --playlist-part:#cccdc6;
    --playlist-color: black;
    --playlist-clicked: white;
    --playlist-clicked-bg: #149165;
    --color: grey;
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--link);
}

a:hover{
    opacity: .7;
}

.region{
    max-width: 1100px;
    margin: 0 auto;
}
  
html{
    color: var(--color);
    font: var(--body-font);
    background: var(--body);
}